html, body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

main {
  padding: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0.5rem 0;
}

