html, body {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  background-color: #db4938;
  padding: 1rem;
  color: white;
}

nav {
  margin-top: 0.5rem;
}

select {
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
}

main {
  padding: 2rem;
}

h1 {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}


